 
  <div class="bg text-center">
    <div class="centered">
        <p class="firstLine"> M &nbsp; O &nbsp; N &nbsp; T &nbsp; E &nbsp;  &nbsp;  &nbsp; S &nbsp; E &nbsp; U &nbsp; &nbsp; D &nbsp; R &nbsp; E &nbsp; A &nbsp; M &nbsp;&nbsp; T &nbsp;E &nbsp;A &nbsp;M</p>
        <p class="secondLine">Criado por Igor Nascimento</p>
        <a href="~/Match">
            <input class="InputStyle" type="button" style="font-family:Arial, FontAwesome" value="JOGAR" />&nbsp;&nbsp;&nbsp;&nbsp;
        </a>

        <a href="~/Identity/Account/Login">
            <input class="InputStyle" type="button" style="font-family:Arial, FontAwesome" value="ADMIN" />&nbsp;&nbsp;&nbsp;&nbsp;

        </a>
        <partial name="_LoginPartial"/>
    </div>

</div>

